#!/usr/bin/env bash

# Passwords used when creating resources with Terraform

# Master password for RDS database, used when creating the initial RDS db.
# It is stored in Terraform state. If you are paranoid, then you can change it
# via the console after creation. The same password may be stored in the
# Ansible vault and used when creating app dbs and users.
export TF_VAR_rds_master_pass="CHANGEME"

# OAuth token used to set up CodePipeline to talk to Github
# export TF_VAR_github_oauth_token="CHANGEME2"
export GITHUB_TOKEN="CHANGEME2"
