set_env.sh                                                                                                                                                                                                     
*/secrets/**/*.tfvars

.terraform
.terragrunt-cache
