# export APP=foo
# export ENV=prod
#
# ssh -F ssh.config 10.10.2.52
# ssh -F ssh.config $APP-$ENV-bastion
# ssh -F ssh.config $APP-$ENV-devops
# ssh -F ssh.config $APP-$ENV-app
# ssh -F ssh.config $APP-$ENV-worker

Host 10.10.*.*
  ProxyJump $APP-$ENV-bastion
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  IdentityFile ~/.ssh/cogini-dev.pem
  # IdentityFile ~/.ssh/$ORG-$ENV.pem

Host foo-dev-bastion
  Hostname bastion.rubegoldberg.io
  # Hostname 52.193.30.116
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  User ubuntu
  IdentityFile ~/.ssh/cogini-dev.pem
  # IdentityFile ~/.ssh/$ORG-$ENV.pem

Host foo-dev-devops
  Hostname devops.foo.internal
  ProxyJump foo-dev-bastion

Host foo-dev-app
  Hostname app.foo.internal
  ProxyJump foo-dev-bastion
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host foo-dev-worker
  Hostname worker.foo.internal
  ProxyJump foo-dev-bastion
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

